h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Merriweather', serif;
	font-optical-sizing: auto;
	font-weight: 600;
	font-style: normal;
	font-variation-settings: 'wdth' 100;
}
body {
	padding: 0;
	margin: 0;
	font-family: 'Inter', sans-serif;
	font-optical-sizing: auto;
	font-style: normal;
	font-weight: 400;
}
nav.menu {
	display: flex;
	width: 100%;
	position: sticky;
	top: 0;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	background-color: #f5f5f7;
}
