// Cores
$primary-color: #2563eb;
$text-dark: #1f2937;
$text-light: #6b7280;
$bg-color: #f3f4f6;

// Definições de estudos
$lighter-color: #ffffff;
$light-color: #f5f5f7;

// Temas / Categorias
$nutrition-color: #5edf6f;
$workout-color: #305cde;
$healthy-color: #b14ac5;
$recipes-color: #f57931;
$utility-color: #575650;

// Espaçamentos
$spacing-sm: 0.5rem;
$spacing-md: 1rem;
$spacing-lg: 2rem;
