@use '../../styles/variables.scss' as v;

.homeGrid {
	display: grid;
	grid-template-areas:
		'hero hero'
		'ferramentas ferramentas'
		'article article';
}
.articleSection {
	display: grid;
	grid-area: article;
}
.ferramentasContainer {
	display: flex;
	flex-direction: column;
	gap: 1em;
	justify-content: center;
	align-items: center;
	margin: 1em 0 2em 0;
	width: 100%;
	grid-area: ferramentas;
	& h3 {
		font-size: 1.8em;
		font-weight: 800;
	}
	& div {
		display: flex;
		flex-direction: row;
		justify-content: center;
		gap: 2em;
		& a {
			display: flex;
			flex-direction: column;
			justify-content: center;
			gap: 0.5em;
			text-decoration: none;
			color: black;
		}
	}
}
