@use '../../styles/variables.scss' as v;
.heroSection {
	grid-area: hero;
	height: 300px;
}
.heroItem {
	display: block;
	height: 100%;
	background-position: center;
	background-size: cover;
	position: relative;
	z-index: -1;
	overflow: hidden;
	& div {
		padding: 1em;
		background-color: rgba(0, 0, 0, 0.5);
		position: absolute;
		bottom: 0;
		width: calc(100% - 1em);
	}
	& h2 {
		font-size: 2.4em;
		color: white;
		text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
	}
	& p {
		font-size: 1.4em;
		text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
		color: white;
		margin-top: 0.2em;
		max-width: 500px;
	}
	& a {
		padding: 0.5em 1em;
		font-size: 1.2em;
		color: white;
		text-decoration: none;
		display: inline-block;
		margin-top: 1em;
		&:hover {
		}
	}
}

.nutrition {
	color: white;
	background-color: v.$nutrition-color;
}
.healthy {
	color: white;
	background-color: v.$healthy-color;
}
.training {
	color: white;
	background-color: v.$workout-color;
}
.recipes {
	color: white;
	background-color: v.$recipes-color;
}
